<template name="type">
  <div class="row flow-text">
    {{#each allPlayer}}
    <div class="col s6 m3">
      <div class="card-panel teal white-text">
        <span class="card-title">{{progress}}%</span>
        {{username}}
      </div>
    </div>
    {{/each}}
  </div>
  <div class="flow-text card-panel hoverable" id="text">
    <span id="passed">{{passedWords}}</span>
    <span id="active">{{activeWord}}</span>
    <span id="rest">{{restWords}}</span>
  </div>
  {{#if isStarting}}
    <input type="text" class="word" id="wordTypingField"/>
  {{/if}}
</template>
